.Rproj.user
.Rhistory
.RData
.Ruserdata
.RProfile
.Renviron
.Renvironment
1_fetch/in/*
4_outputs/out/*
!1_fetch/in/SalineLakeBnds/SalineLakeBnds.shp
!1_fetch/in/SalineLakeBnds/
!1_fetch/in/saline_lakes.csv
!1_fetch/in/lake_huc6_huc8_huc10_structure_table.xlsx
3_visualize/out/*
!3_visualize/out/.empty
*.csv
*.xlsx
*.shp
*.rds

_targets/
.DS_Store
